<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnb</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD8cc0_ZgGHpTOVyvPaeZZdlkEbzq3PT98"%>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
